body{
    margin: 0;
}
body .firstDiv{
    background-color: darkgray;
    margin: 10px;
}
body .firstDiv article{
    background-color: blue;
    color: white;
}
body .secondDiv{
    background-color: lightgray;
    margin: 20px 15px;
}
body .secondDiv article{
    background-color: brown;
    margin: 10px;
}
body .centerDiv{
    border: 1px solid blue;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 20px;
}
body .paddingDiv{
    width: 250px;
    background-color: yellow;
    border: 10px solid black;
    margin: 0 auto;
    padding: 10px 20px;
}