*{
    margin: 0; padding: 0;
}
html,body{
    height: 100%;
}
header{
    background-color: red;
    width: 100%;
    height: 200px;
    position: fixed;
    
    color: white;
    z-index: 1;
}
body{
    background-color: black;
}
.wrap{
    padding-top: 200px;
}
.wrap aside{
    background-color: green;
    width: 20%;
    height: 750px;
}
.wrap article{
    background-color: blue;
    position: absolute;
    right: 0;
    top: 200px;
    width: 70%;
    height: 750px;
    color: white;
}
.wrap article h2,
.wrap article p{
    margin: 20px 0;
}
footer{
    background-color: orange;
    width: 100%;
    text-align: center;
    line-height: 50px;
}