html,body,.wrap{
    height: 100%;
}
*{
    margin: 0; padding: 0;
}
.wrap aside{
    background-color: lightblue;
    width: 250px;
    height: 100%;
    position: fixed;
}
.wrap aside h1{
    margin: 30px 50px;
}
.wrap article{
    margin-left: 270px;
}
.wrap aside nav ul{
    text-align: center;
    font-size: 20px;
    color: green;
}
.wrap aside nav ul li{
    line-height: 50px;
}
.wrap aside nav ul li a{
    text-decoration: none;
}
.wrap aside nav ul li a:hover{
    color: blueviolet;
    text-decoration: underline;
}
.wrap aside footer{
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}
.wrap{
    background-color: palegoldenrod;
    height: 2300px;
}
.wrap article h2{
    color: green;
    font-size: 40px;
}
.wrap article blockquote{
    border: 5px solid lightgreen;
    font-size: 30px;
    padding: 20px;
    margin: 100px 0;
}
.wrap article q{
    font-size: 20px;
}
.wrap article div h3{
    color: blueviolet;
    font-size: 40px;
    margin: 100px 0;
}
.wrap article div p{
    font-size: 25px;
    color: gray;
}