.wrap{
    background-color: gray;
}
/* .wrap::after{
    content: '';
    display: block;
    clear: both;
} */
.wrap img{
    float: left;
}
.wrap p{
    font-size: 30px;
    margin: 0;
    line-height: 40px;
}
.exam_2::after{
    content: '';
    display: block;
    clear: both;
}
.exam_2{
    background-color: midnightblue;
}
.exam_2 div{
    background-color: aquamarine;
    float: right;
    width: 300px;
    height: 300px;
    
}
.exam_3{
    background-color: orange;
}