*{
    margin: 0; padding: 0; list-style: none;
}

header{
    background-color: lightblue;
    width: 960px;
    margin: 0 auto;
    position: relative;
}
header div{
    position: absolute;
    right: 0;
    top: 30px;
}
header h1{
    background-color: darkcyan;
    color: white;
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
header nav ul{
    background-color: lightslategrey;
    text-align: center;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    text-decoration: none;
}
header nav ul li a:hover{ 
    color: white;
    text-decoration: underline;
}
.marginLeft{
    margin-left: 20px;
}
.wrap{
    width: 960px;
    margin: 0 auto;
}
.wrap::after{
    content: '';
    display: block;
    clear: both;
}
.wrap div{
    float: left;
    width: 310px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 80px;
}
.latest2,
.latest3{
    margin-left: 15px;
}
footer{
    background-color: lightslategray;
    width: 960px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-size: 20px;
}